.row {
  margin-left: 0px;
  margin-right: 0px;
}

.hero {
  text-align: center;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-text {
  padding-left: 100px;
  text-align: left;
}
.hero-image {
  text-align: right;
  padding-right: 100px;
}
.hero-title {
  text-align: left;
  font-weight: 800;
}
.hero-yeniyiz {
  text-align: left;
  font-weight: 800;
}
.hero-birlikteyiz {
  text-align: left;
  font-weight: 800;
  color: red;
}

.hero-parag {
  font-weight: 600;
  text-align: left;
}

.hero-space {
  height: 406px;
  max-height: 100%;
}
