.nav {
  margin-top: 10px;
  height: 98.125px;
  display: flex;
  justify-content: space-between;
}

.nav-logoParagraph {
  display: block;
  font-size: 16px;
  font-weight: lighter !important;
}
.logo {
  height: 38px;
  object-fit: contain;
}

.nav-left {
  display: flex;
  padding-left: 20px;
  align-items: center;
}

.nav-right {
  padding-right: 20px;
  display: flex;
  align-items: center;
}

.nav-info {
  margin: auto;

  display: inline;
  padding-left: 20px;
  text-decoration-line: none !important;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}

.nav-mail {
  color: #3779f2;
  font-size: 12px;
}

.nav-phone {
  color: #f24343;
  font-size: 12px;
}
/* 
.social-media::before {
  height: 98px;
  margin-top: 48px;
  content: "| ";
} */

.social-media {
  vertical-align: middle;
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.social-logo {
  padding-right: 7px;
}
