.show {
  margin-top: 120px;
  margin-right: 40px;
  margin-left: 40px;
}

.show-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
}

.show-description {
  margin: auto;
}

.show-desc {
  color: #7c7c7c;
  font-size: 24px;
  font-weight: 100;
}
.show-logo {
  max-height: 200px;
}
